* {
  margin: 0;
  padding: 0;
}
html {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
:root {
  --naranja: #f26627;
  --bg-color: #efeeee;
  --text-color: #36363b;
  --shadow: rgba(0, 0, 0, 0.198);
  --forum-color: #ffff;
}
.dark-theme {
  --bg-color: #2c2c2c;
  --text-color: #cfcfcf;
  --shadow: #fdfdfd0e;
  --forum-color: #4b4b4b;
}
.punto {
  color: var(--naranja);
}
h1,
h2,
h3,
p {
  color: var(--text-color);
  font-weight: 500;
}
/* botones */
.toggle-btn {
  font-size: 180%;
  border-radius: 3px;
  border: 2px solid var(--naranja);
  position: absolute;
  top: 6%;
  left: 15%;
  padding: 8px 8px 6px 8px;
  color: var(--text-color);
}
button {
  color: var(--text-color);
}
.h-menu {
  cursor: default;
  display: none;
}
/* NAV BAR */

body {
  transition: 0.3s;
  background: var(--bg-color);
}

.bar {
  float: right;
  margin: 3vh 6vw;
}
.tablink {
  transition: 0.3s;
  position: relative;
  display: inline-block;
  border: none;
  background: transparent;
  margin: 30px;
  font-size: 1.6rem;
  outline: 0;
  color: var();
}
.tablink:hover {
  color: var(--naranja);
  cursor: pointer;
}
.brder {
  border-bottom: 2px solid var(--naranja);
}

/* Container de ABOUTME PROJECTS CONTACT */
.container-categorias {
  float: left;
  width: 100vw;
  background: transparent;
}
.container {
  width: 100%;
  margin: 0px 0px;
  text-align: center;
  display: none;
  animation: fade 1.3s;
}

/* About me */
.about {
  display: block;
}
.nombre {
  color: var(--naranja);
  width: 20%;
  transform: translate(200%, 0%);
  padding: 0 !important;
  margin: 0 !important;
}
.descripcion {
  margin: 60px;
}
.about-tecnologias {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.container-tecnologias {
  border: 3px solid var(--naranja);
  width: 40%;
}
.tecnologias-title {
  position: relative;
  top: -0.7em;
  transform: translate(50%, 0%);
  background-color: var(--bg-color);
  transition: 0.3s;
  width: 50%;
}
.tecnologias img {
  width: 50px;
  padding: 40px;
  padding-bottom: 40px;
  filter: drop-shadow(0.5rem 0.5rem 1rem var(--shadow));
}

/* Projects */
.project-grid {
  display: grid;
  padding: 10vh 10vw;
  grid-template-columns: repeat(3, 1fr);
}
.project {
  transition: 0.3s;
  width: 80%;
  background: transparent;
  height: 105%;
  box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
}
.project:hover {
  transform: scale(1.05);
  transition: 0.25s;
}
.project img {
  border: 1px solid gray;
  width: 99.5%;
  padding: 0;
}
.project-title {
  padding-top: 2%;
}
.project-tec {
  padding: 10px 0px;
  font-size: 93%;
  word-spacing: 1px;
}

.link {
  position: relative;
  padding-bottom: 10px;
  font-size: 120%;
  border: none;
  background: transparent;
  outline: 0;
  text-decoration: none;
  color: var(--text-color);
}
.link:hover {
  color: var(--naranja);
  cursor: pointer;
}

/* CONTACT ME */
.contact {
}
.container-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form {
  transition: 0.3s;
  text-align: left;
  width: 50%;
  height: 100%;
  box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
  padding: 20px;
  background: var(--forum-color);
  border-radius: 5px;
  color: var(--text-color);
}
.form-group {
  transition: 0.3s;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.199);
  padding: 10px 0px;
  font-size: 18px;
  margin-left: 0px;
  border-radius: 5px;
}
.form-group textarea {
  width: 100%;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  resize: vertical;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
}
.contact-submit {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 0px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 20px;
  transition: 0.25s;
  color: #36363b;
}
.contact-submit:hover {
  background-color: var(--naranja);
  transition: 0.25s;
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 700px) {
  /* botones */

  .toggle-btn {
    top: 2%;
    left: 4%;
  }
  /* Container de ABOUTME PROJECTS CONTACT */

  .container-categorias {
    margin-top: 50px;
    width: 100%;
  }
  .container {
    position: absolute;
  }
  .bar {
    position: absolute;
    visibility: hidden;
    margin-bottom: 0px;
  }
  .tablink {
    transition: 0s;
    float: right;
  }
  .tablink:first-child {
    margin-top: 0px;
  }

  /* Menu hamburguesa */

  .h-menu {
    display: block;
    float: right;
    font-size: 180%;
    margin: 20px;
    color: var(--naranja);
  }

  #menu {
    transition: 0.3s;
  }
  /* about me  */
  .nombre {
    width: 80%;
    transform: translate(16%, 0%);
  }
  .descripcion {
    margin: 20px;
  }
  .container-tecnologias {
    width: 100%;
    margin-bottom: 5px;
  }
  .tecnologias-title {
    width: 50%;
  }
  .tecnologias img {
    width: 50px;
    padding: 0px 2%;
    padding-bottom: 40px;
  }
  /* Projects */
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 100px;
  }
  .project {
    width: 100%;
    height: 110%;
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
  }
  .link {
    top: 0.6rem;
  }

  /* CONTACT ME */
  .contact-form {
    margin: 0;
    width: 80%;
    margin-bottom: 10px;
  }
}
